# --indent: 들여쓰기에 사용할 공백 수.
--indent 2

# --linebreaks: 사용할 줄바꿈 유형. `lf`는 Unix 스타일 줄바꿈입니다.
--linebreaks lf

# --commas: 쉼표 처리 방법. `inline`은 후행 쉼표를 허용합니다.
--commas inline

# --semicolons: 세미콜론 처리 방법. `never`는 제거함을 의미합니다.
--semicolons never

# --trimwhitespace: 공백 처리 방법. `always`는 후행 공백을 제거함을 의미합니다.
--trimwhitespace always

# --enable redundantSelf: 필요하지 않은 곳에서 `self.`를 제거하는 규칙을 활성화합니다.
--enable redundantSelf

# --enable sortSwitchCases: `switch` 케이스를 알파벳순으로 정렬하는 규칙을 활성화합니다.
--enable sortSwitchCases
